<% provide(:title, @user.name) %>

<h1>プロフィール</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<table class="table table-bordered" id="table-show">
      <tbody>
				<tr>
					<th class="text-center active">ID</th>
					<td><%= @user.id %></td>
				</tr>
				<tr>
					<th class="text-center active">名前</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th class="text-center active">メールアドレス</th>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<th class="text-center active">作成日</th>
					<td><%= @user.created_at %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
